@import '../QuiverScss/quiver';
@import '../Layouts/config';


.table{
    padding :0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.thead,.tbody{
    display: flex;
    flex-direction: column;
}
.thead{
    border-bottom:1px solid lightgrey;
}
.tr{
    display: flex;
    height: $feedback-line-height;
    line-height: $feedback-line-height;
    flex-direction: row;
}
.tbody .tr{
    margin:5px 0;
    &:hover{
        cursor:pointer;
        background-color:pal(lightgrey,'l3');
        border-radius: 10px;
    }
}
.table .td{
    min-width: 80px;
    font-size: 16px;
    position:relative;
    &:nth-child(2){
        flex:1;
        line-height: 35px; 
    }
}

.anim-appear {
    opacity: 0.01;
  }
   
  .anim-appear.anim-appear-active{
    opacity: 1;
    transition: opacity 2s ease-in;
  }
